<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>MEAN 025: The Great Number Game</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron center">
            <h1>Welcome to the Great Number Game!</h1>
            <h3>I am thinking of a number between 1 and 100</h3>
            <h3>Take a guess!</h3>
            <% if (typeof message !== "undefined"){ %>
            <h2 style="color: <%=(message == 'You win!')?'green':'black'%>;"><%= message %></h2>
            <% } %>
            <form action="/check" method="post">
                <input class="form-control" type="text" name="guess" id="guess">
                <input class="btn btn-primary" type="submit" value="Guess">
            </form>
            <form action="/reset" method="post">
                <input class="btn btn-primary" type="submit" value="Reset">
            </form>
        </div>
    </div>
</body>

</html>