<div class="container">
  <div class="center">
    <h1>All the tasks</h1>
  </div>
  <ul *ngIf='tasks.length > 0'>
    <li *ngFor='let task of tasks'>
      <p><b>{{task.title}} (completed: {{task.completed}})</b></p>
      <p>{{task.description}}</p>
    </li>
  </ul>

  <div class="center">
    <h1>The third task</h1>
  </div>
  <ul *ngIf=tasks[2]>
    <li>
      <p><b>{{tasks[2].title}} (completed: {{tasks[2].completed}})</b></p>
      <p>{{tasks[2].description}}</p>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
