<div class="container">
  <div class="jumbotron">
    <h1>Rate my cakes</h1>
    <hr>
    <div class="row">
      <div class="col">
        <h4>Submit a cake to be rated</h4>
        <hr>
        <form (submit)='addCakeFromService()'>
          <div class="form-group">
            <label for="baker">Baker name:</label>
            <input class="form-control" type="text" name="baker" [(ngModel)]='newCake.baker'>
          </div>
          <div class="form-group">
            <label for="image">Image url:</label>
            <input class="form-control" type="text" name="image" [(ngModel)]='newCake.image'>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Add cake">
          </div>
        </form>
      </div>
      <div class="col cakelist">
        <div *ngFor='let cake of cakes' class="row">
          <div class="col col-sm-4">
            <img src="{{cake.image}}" alt="cake" class="img-thumbnail" (click)='showCakeFromService(cake._id)'>
          </div>
          <div class="col">
            <form (submit)='addCommentFromService($event,cake._id)'>
              <div class="form-group">
                <select class="custom-select" name="rating">
                  <option [value]="1">1</option>
                  <option [value]="2">2</option>
                  <option [value]="3">3</option>
                  <option [value]="4">4</option>
                  <option [value]="5" selected>5</option>
                </select>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="comment" rows="2"></textarea>
              </div>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Rate">
              </div>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-cake *ngIf='oneCake' [oneCake]='oneCake' [oneCakeRating]='oneCakeRating'></app-cake>
</div>

<router-outlet></router-outlet>
