<div class="jumbotron">
  <h1>Favorite authors</h1>
  <hr>
  <button class="btn btn-primary" [routerLink]="['/new']">Add author</button>
</div>
<table *ngIf='authors' class="table">
  <thead class="thead-dark">
    <tr>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let author of authors'>
      <td>{{author.name}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['edit',author._id]">Edit</button>
        <button class="btn btn-danger" (click)="deleteAuthorFromService(author._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
