<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <title>MEAN 029: Mongoose Dashboard</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Add dog</h1>
            <% if(messages.errors){ %>
            <ul>
                <% for(var err of messages.errors){ %>
                <li class="alert alert-danger"><%= err %></li>
                <% } %>
            </ul>
            <% } %>
            <form action="/dogs" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="breed">Breed</label>
                    <input class="form-control" type="text" name="breed" id="breed">
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input class="form-control" type="text" name="color" id="color">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Add">
                </div>
            </form>
            <a class="btn btn-primary" href="/">Back</a>
        </div>
    </div>
</body>

</html>