<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Mongo test</h1>
            <% if(messages.registration){ %>
            <% for (var mess of messages.registration) { %>
            <p><%= mess %></p>
            <% } %>
            <% } %>
            <form action="/users" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input class="form-control" type="text" name="age" id="age">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
</body>

</html>